<div class="container mt-5">

    <h2 class="text-center mb-4">Artists Management</h2>
    <div id="alert-placeholder"></div>
    <div class="d-flex justify-content-end mb-3">
      <button class="btn btn-primary" data-toggle="modal" data-target="#createArtistModal" (click)="openCreateArtistForm()">Add New Artist</button>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered sm table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Artist Image</th>
            <th scope="col">Artist Name</th>
            <th scope="col">Stage Name</th>
            <th scope="col">Number of Albums</th>
            <th scope="col">Social Media Links</th>
            <th scope="col">Record Label</th>
            <th scope="col">Publishing House</th>
            <th scope="col">Career Start Date</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let artist of artists; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td><img [src]="artist.artistImage" alt="Artist Image" class="img-thumbnail" width="100"></td>
            <td>{{ artist.artistName }}</td>
            <td>{{ artist.stageName }}</td>
            <td>{{ artist.numberOfAlbums }}</td>
            <td>
                <ul>
                    <li *ngFor="let link of artist.socialMediaLinks">
                        <ng-container *ngIf="link.includes(':')">
                            <a [href]="link.split(':')[1].trim()" target="_blank">
                                {{ link.split(':')[0].trim() }}: {{ link.split(':')[1].trim() }}
                            </a>
                        </ng-container>
                        <ng-container *ngIf="!link.includes(':')">
                            {{link}}
                        </ng-container>
                    </li>
                </ul>
            </td>
            <td>{{ artist.recordLabel }}</td>
            <td>{{ artist.publishingHouse }}</td>
            <td>{{ artist.careerStartDate | date }}</td>
            <td>
              <div class="d-flex justify-content-between align-items-center">
                <button class="btn btn-sm btn-success" (click)="viewArtist(artist)">View</button>

                <button class="btn btn-sm btn-warning" (click)="editArtist(artist)">Edit</button>
                <button class="btn btn-sm btn-danger" (click)="deleteArtist(artist.id || '')">Delete</button>

              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" href="#" tabindex="-1" (click)="changePage(previousPage)">Previous</a>
        </li>
        <li *ngFor="let page of pages" class="page-item" [class.active]="page === currentPage">
          <a class="page-link" href="#" (click)="changePage(page)">{{ page }}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link" href="#" (click)="changePage(nextPage)">Next</a>
        </li>
      </ul>
    </nav>

   <!-- Create Artist Form Modal -->
   <div class="modal fade" id="createArtistModal" tabindex="-1" aria-labelledby="createArtistModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createArtistModalLabel">{{ selectedArtist ? 'Edit Artist' : 'Create New Artist' }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeCreateArtistForm()"></button>
            </div>
            <div class="modal-body">
                <div *ngIf="generalError" class="alert alert-danger">{{ generalError }}</div>
                <form #artistForm="ngForm" (ngSubmit)="createOrUpdateArtist(artistForm)">
                    <div class="form-group mb-2">
                        <label for="artistImage">Artist Image</label>
                        <input type="file" class="form-control-file" id="artistImage" name="artistImage" ngModel>
                        <div *ngIf="validationErrors['artistImage']" class="text-danger">{{ validationErrors['artistImage'] }}</div>
                    </div>
                    <div class="form-group mb-2">
                        <label for="artistName">Artist Name</label>
                        <input type="text" class="form-control" id="artistName" name="artistName" [(ngModel)]="selectedArtist.artistName" required>
                        <div *ngIf="validationErrors['artistName']" class="text-danger">{{ validationErrors['artistName'] }}</div>
                    </div>
                    <div class="form-group mb-2">
                        <label for="stageName">Stage Name</label>
                        <input type="text" class="form-control" id="stageName" name="stageName" [(ngModel)]="selectedArtist.stageName">
                        <div *ngIf="validationErrors['stageName']" class="text-danger">{{ validationErrors['stageName'] }}</div>
                    </div>
                    <div class="form-group mb-2">
                        <label for="numberOfAlbums">Number of Albums</label>
                        <input type="number" class="form-control" id="numberOfAlbums" name="numberOfAlbums" [(ngModel)]="selectedArtist.numberOfAlbums">
                        <div *ngIf="validationErrors['numberOfAlbums']" class="text-danger">{{ validationErrors['numberOfAlbums'] }}</div>
                    </div>
                    <div class="form-group mb-2">
                        <label for="socialMediaLinks">Social Media Links (comma separated)</label>
                        <input type="text" class="form-control" id="socialMediaLinks" name="socialMediaLinks" [(ngModel)]="selectedArtist.socialMediaLinks">
                        <div *ngIf="validationErrors['socialMediaLinks']" class="text-danger">{{ validationErrors['socialMediaLinks'] }}</div>
                    </div>
                    <div class="form-group mb-2">
                        <label for="recordLabel">Record Label</label>
                        <input type="text" class="form-control" id="recordLabel" name="recordLabel" [(ngModel)]="selectedArtist.recordLabel">
                        <div *ngIf="validationErrors['recordLabel']" class="text-danger">{{ validationErrors['recordLabel'] }}</div>
                    </div>
                    <div class="form-group mb-2">
                        <label for="publishingHouse">Publishing House</label>
                        <input type="text" class="form-control" id="publishingHouse" name="publishingHouse" [(ngModel)]="selectedArtist.publishingHouse">
                        <div *ngIf="validationErrors['publishingHouse']" class="text-danger">{{ validationErrors['publishingHouse'] }}</div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="careerStartDate">Career Start Date</label>
                        <input type="date" class="form-control" id="careerStartDate" name="careerStartDate" [(ngModel)]="selectedArtist.careerStartDate" required>
                        <div *ngIf="validationErrors['careerStartDate']" class="text-danger">{{ validationErrors['careerStartDate'] }}</div>
                    </div>
                    <button type="submit" class="btn btn-primary">{{ selectedArtist ? 'Update Artist' : 'Create Artist' }}</button>
                </form>
            </div>
        </div>
    </div>
</div>
  </div>
